<!DOCTYPE html>
<html>
<head>
	<title>
		Homepage
	</title>
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	<link rel="stylesheet" type="text/css" href="css/index.css"/>
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/index.js"></script>
</head>
<body>
	<div id="serviceSelection">
		<div>
			<a href="./create">Create author</a>
		</div>
		<div>
			<a href="./update">Update author</a>
		</div>
		<div>
			<a href="./authorslist">Get authors</a>
		</div>
		<div>
			<a href="./booklist">Get books</a>
		</div>
	</div>

	<ul id="menu">
		<li class="menuPoint"><a id="home">Home</a></li>
		<li class="menuPoint"><a id="services">Services</a></li>
		<li class="menuPoint"><a href="about.html">About me</a></li>
	</ul>
	
	<div id="news">
		<h2>TITLE 1</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras erat lacus, aliquam vitae tellus in, lacinia dignissim purus. Curabitur suscipit dolor nec ligula scelerisque, a auctor ligula laoreet. Ut eget dapibus enim, nec vulputate nunc. Phasellus varius vulputate vehicula. Phasellus aliquet placerat augue, vel blandit risus volutpat mollis. Nullam enim quam, varius ut molestie quis, pellentesque eu massa. Curabitur imperdiet tristique velit in porttitor.</p>
		<h2>TITLE 2</h2>
		<p>Etiam auctor quis magna consectetur ornare. Nulla semper orci eu libero fermentum, ac feugiat tortor suscipit. Mauris tortor sapien, convallis eu posuere luctus, posuere sit amet lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nec nulla sem. Aenean pretium elit tortor, ac varius lacus luctus vitae. Proin ultrices risus purus, vel euismod libero maximus non. Sed ornare pharetra ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		<h2>TITLE 3</h2>
		<p>Maecenas finibus dolor ut fringilla malesuada. Suspendisse fermentum cursus ex, id pretium metus iaculis sit amet. Ut mattis id purus quis tincidunt. Nam molestie augue vel nunc efficitur, et consectetur ligula mollis. Curabitur pharetra viverra nunc, nec pellentesque metus pulvinar vitae. Vestibulum laoreet eleifend viverra. Pellentesque neque lorem, aliquam et lectus a, pharetra faucibus tellus.</p>
	</div>
</body>
</html>
