#news{
	border: 1pt solid black;
	width: 40%;
	height: 60%;
	
	position: absolute;
	margin-top: 10%;
	margin-left: 10%;
	
	background-color: rgba(0, 0, 0, 0.2);
	overflow-y: scroll;
}
#news p{
	text-align: justify;
}